

.card{
    margin: 12px 30px;
    border-radius: 12px !important;
    position: sticky !important; 
    top: 10px; 
}

.card-text{
    font-size: small;
}

.btn{
    width: 80%;
    margin: 12px;
    border-radius: 72px !important;
}

.btn-primary{
    color:  #000 !important;
    background-color: white !important;
}

.argmet{
    font-size: smaller;
}

a{
    text-decoration: none !important;
}