
.twitIcon{
    height: 50px;
    width: 50px;
    margin-top: 3%;
    margin-left: 49%;
    color: var(--twitter-color);
}

.optionContainer{
    padding-left: 100px;
     display: flex;
     flex-direction: column;
     align-items: flex-start; 
     position: sticky;
    top: 0; 
}



.explore{
    padding: 2px 40px;
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    justify-content: space-around;
    margin-top: 10%; 
}

.explore:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}


.setting{
    padding: 2px 40px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    justify-content: space-around;
    margin-top: 10%; 
}

.setting:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}