.home-main{
    height: 6%;
    border: 1px solid lightcyan;
    padding-bottom: 2%;
}

.header-home h6{
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 700;
}

.profi-home-img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-left: 3%;
}

.avat-home input{
    flex: 1;
    margin-left: 15px;
    /* margin-top: 3%; */
    font-size: 20px;
    border: none;
}

.btn-home-btn-tweet{
    margin-top: 0%;
    display: flex;
    /* flex-direction: row; */
    justify-content: end;
    /* top: -50; */
}

.tweet-home-btn {
    width: 20%;
    /* margin-left: 70%; */
}
.btn-btnprimary{
    margin-top: 1px;
    font-size: 20px;
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    border-radius: 30px;
    width: 70%;
}
.icon-other-icon{
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 0%;
}
.other-icon{
    display: flex;
    justify-content: flex-start;
}
.ico1{
    padding: 5px 3px;
    margin-left: 20%;
    color: var(--twitter-color);
}
.ico2{
    padding: 5px 3px;
    color: var(--twitter-color);
    
}
.ico3{
    padding: 5px 3px;
    color: var(--twitter-color);
}
.ico4{
    padding: 5px 3px;
    color: var(--twitter-color);
}
.ico5{
    padding: 5px 3px;
    color: var(--twitter-color);
}


